@use "../abstracts/variables" as var;
:lang(ko){font-family: 'Pretendard', sans-serif;}
html {
  font-size: 10px;
  font-family: 'Pretendard', sans-serif;
  color: var.$color-text-primary;
  height: 100%;
}

@media(max-width:1200px){
  html {
  
  }
}
@media(max-width:1000px){
  html {
    
  }
}