@use "../abstracts/mixins" as mixin;
@use "../abstracts/variables" as var;
button,
a {
    outline: none ;
}

.btn {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.5rem;
  box-sizing: border-box;
  &-primary {
    background-color: var.$color-primary;
    &:link,&:visited{
      color: var.$color-white;
    }
  }
  &-outline {
    background-color:var.$color-white;
    border:1px solid var.$color-btn-outline;
  }
  &-xs {
    padding:0.4rem 0.7rem;
    font-size: 0.75rem;
  }
  &-small {

  }
  &-medium {

  }
  &-large {
    padding:1.2rem 2.5rem;
  }
}

@include mixin.mobile {
  .h-btn {
    font-size: 1.2rem;
  }
}