@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.form_group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form_group label {
  position: relative;
  cursor: pointer;
  font-size: 1.6rem;
  & span {
    margin-left: 1rem;
    & em {
      color:var.$color-primary;
      font-weight: 700;
      margin-right: 1rem;
    }
  }
}

.form_group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #CFCFCF;
  padding: 12px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50%;
}
.form_group input:checked + label:before {
    background-color: var.$color-primary;
}
.form_group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 11px;
  width: 4px;
  height: 12px;
  border: solid var.$color-white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}