@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

.d-flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.mt-4{
  margin-top: 4rem;
}
.wrap{
  background-color:var.$color-gray;
  height:calc(100vh - 12rem); 
}
.contents{
  margin-top: 1rem;
  height:calc(100vh - 14rem);
  background-color:var.$color-white;
  padding: 0 2rem 3rem 2rem;
  overflow-y: scroll;
  & h2{
    font-weight: 700;
    font-size: 2rem;
    padding: 3rem 0;
  }
}
.step{
  @include mixin.flex(true,space-between,center,2rem);
  padding: 0 6rem;
  margin-bottom: 3rem;
  & .circel{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.4rem;
    font-weight: 600;
    background-color:#D5DAE0;
    color: var.$color-white;
    &.active{
      background-color: var.$color-text-primary;
    }
  }
  & .line {
    flex: 1;
    height: .1rem;
    background-color: #EFEFEF;
  }
}
.bottom_btn{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  @include mixin.flex(true,start,start)
}
.descrition{
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: #f8f8f8;
  padding: 2rem;
  & h3{
    @include mixin.flex(true,start,center,.5rem);
    font-size: 1.6rem;
    font-weight: 500;
  }
  & > span{
    font-size: 1.4rem;
    margin-top: 1rem;
    @include mixin.flex(true,start,center,.5rem);
    & span{
      & i{
        font-weight: 600;
        color: var.$color-primary;
      }
    }
  }
}
.list_dec{
  border-radius: 1rem;
  background-color: #f8f8f8;
  padding: 2rem 4rem;
  & li {
    list-style:decimal;
    font-size: 1.6rem;
    & + li {
      padding-top: 1.5rem;
    }
  }
}
.list_num_wrap{
  margin-top: 2rem;
  & .list_num_box{
    @include mixin.flex(true,start,center,2rem);
    border-radius: 1rem;
    padding: 2rem 4rem;
    border: 1px solid #E4E4E4;
    font-size: 1.4rem;
    & + .list_num_box{
      margin-top: 1rem;
    }
    & .num{
      font-weight: 700;
      font-size: 2.4rem;
      color: var.$color-primary;
    }
  }
}
footer{
  background-color:var.$color-white;
  & .footer {
    padding: 2rem;
    margin-top: 1rem;
    color: var.$color-text-gray;
    font-size: 1.2rem;
  }
}

.dimmed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
}
.modal{
  position: relative;
  background-color:var.$color-white;
  width: 90%;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  & .modal_content{
    text-align: center;
    padding:4rem 2rem 4rem 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    & .point{
      font-weight: 700;
    }
  }
  & .modal_btn {
    display: flex;
    width: 100%;
    & button {
      flex: 1;
    }
  }
}

.agree_detail{
  background-color: var.$color-white;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  & h3{
    font-size: 1.8rem;
    padding: 5rem 2rem 0rem 2rem;
  }
  & .detail_content{
    height: 300px;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid #E4E4E4;
    overflow: hidden;
    & .terms_area{
      height: 100%;
      width: calc(100% - 4rem);
    }
  }
}

.guide_text{
  font-size: 2rem;
  text-align: center;
  line-height: 1.6;
}
.complete_icon{
  margin-top: 2rem;
  color: var.$color-primary;
  text-align: center;
  & i{
    font-size: 12rem;
  }
}

.slogan_text{
  margin: 5rem 0;
  font-size: 2.6rem;
  text-align: center;
  color: #9DA5AB;
  line-height: 1.2;
  & em{
    font-family: 'Poppins';
    font-size: 3.2rem;
  }
  & b{
    color: var.$color-text-primary;
  }
}

.serach_form{
  position: relative;
  margin: 5rem 0;
  & .serach_form_btn{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    & i{
      font-size: 2.5rem;
    }
  }
}

.select_form_wrap{
  @include mixin.flex(false,start,start,1rem);
}
.select_box{
  width: calc(100% - 2rem);
  @include mixin.flex(true,space-between,center);
  padding: 2rem 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 1rem;
  border: 1px solid #E4E4E4;
  & .select_check{
    width: 50px;
    text-align: left;
    & i{
      font-size: 2.4rem;
      color:#CFCFCF;
    }
    &.active{
      & i{
        color: var.$color-primary;
      }
    }
    &.disabled{
      & i{
        color:#D5D5D5;
      }
    }
  }
  & .select_num{
    width: 20%;
    text-align: left;
  }
  & .select_name{
    flex: 1;
    text-align: left;
  }
  & .select_phone{
    width: 40%;
    text-align: right;
  }
  & .select_badge{
    width: 40%;
    text-align: right;
  }
}

@media (min-width:1200px){
  .wrap{   
    @include mixin.flex(false,start,center);
  }
  .container{
    width: 100%;
  }
}

@media(max-width:1199px){
  .container{
    width: 100%;

  }
}