@use '../abstracts/variables' as var;
@use "../abstracts/mixins" as mixin;


.select_text{
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}
.welcome_text{
  font-size: 1.8rem;
  font-weight: 600;
  margin: 6rem 0;
  text-align: center;
  line-height: 36px;
  font-size: 2.4rem;
  & span{
    font-size: 3rem;
  }
}

.text_form{
  border-radius: 1rem;
  border: 1px solid #E4E4E4;
  &_title{
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #E4E4E4;
    font-weight: 600;
  }
  &_content{
    padding: 1.5rem 2rem;
    & .terms_area{
      width: calc(100% - 4rem);
    }
    & h3{
      font-size: 1.6rem;
      font-weight: 500;
    }
    & .description{
      margin-top: 2rem;
      font-size: 1.5rem;
      & dt {
        font-weight: 600;
        margin-top: 2rem;
      }
      & dd {
        font-weight: 400;
        font-size: 1.4rem;
        padding-top: .5rem;
      }
    }
  }
  & + .text_form{
    margin-top: 2rem;
  }
}

.user_form{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  & span{
    font-size: 1.6rem;
    padding-left: .2rem;
    &.price{
      color: var.$color-primary;
      width: 30%;
      text-align: right;
    }
  }
}
